---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Felix Fischer – kreativer Einsatz von Technik" description="">
    <main class="flex justify-center items-center min-h-screen text-neutral-600 p-4">
        <div class="py-6 sm:py-8 px-8 sm:px-10 lg:px-12 lg:py-10 rounded bg-white shadow-xl">
            <h1 class="text-xl sm:text-2xl lg:text-3xl font-semibold text-red-800 mb-0 mr-8">Felix Fischer</h1>
            <h2 class="text-sm sm:text-base lg:text-lg font-medium text-neutral-400 mr-12 sm:mr-16 lg:mr-24">kreativer Einsatz von Technik</h2>
            <p class="text-xs sm:text-sm lg:text-base leading-normal my-6 lg:my-8">
                <strong>IT Solutions &amp; Consulting</strong><br />
                 Berlin, Germany
            </p>
            <div class="flex gap-3 sm:gap-4 text-base sm:text-lg lg:text-xl">
                <a
                    href="mailto:kontakt@felixfischer.com?subject=Hallo%20via%20Website"
                    title="E-Mail"
                    rel="me"><i class="icon-mail-alt hover:text-red-800"></i></a
                >
                <a
                    href="https://www.linkedin.com/in/felix-fischer-672a2844/"
                    title="LinkedIn"
                    rel="me"><i class="icon-linkedin hover:text-red-800"></i></a
                >
                <a href="https://www.github.com/felixfischer" title="GitHub" rel="me"
                    ><i class="icon-github hover:text-red-800"></i></a
                >
            </div>
        </div>
    </main>
</Layout>

<style>
    [class^='icon-']:before,
    [class*=' icon-']:before {
        margin-inline: 0;
    }
</style>
