---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Felix Fischer – IT Solutions &amp; Consulting" description="">
    <main
        class="flex justify-center items-center text-neutral-800 p-4 text-sm sm:text-base md:text-lg lg:text-xl xl:text-2xl"
    >
        <div
            id="card"
            class="p-8 sm:p-10 md:p-12 lg:p-14 xl:p-16 rounded lg:rounded-lg xl:rounded-xl bg-white shadow-2xl"
            data-tilt
            data-tilt-startX="-1"
            data-tilt-startY="-3"
            data-tilt-glare="true"
            data-tilt-max-glare="0.35"
            data-tilt-max="6"
            data-tilt-speed="1000"
            data-tilt-perspective="1000"
            data-tilt-reset="false"
            data-tilt-reverse="false"
            data-tilt-full-page-listening="true"
			data-tilt-gyroscope="true"
        >
            <div id="card-content" class="px-1 sm:px-2 md:px-3 lg:px-4 xl:px-5">
                <h1
                    class="elevate text-xl sm:text-2xl md:text-3xl lg:text-4xl font-bold xl:tracking-wide text-red-800 mb-0 uppercase"
                >
                    Felix Fischer
                </h1>
                <h2
                    class="elevate font-semibold text-neutral-400 leading-relaxed mr-16 sm:mr-20 md:mr-24 lg:mr-32 xl:mr-40"
                >
                    kreativer Einsatz von Technik
                </h2>
                <p class="elevate leading-normal my-6 lg:my-8 lg:mb-10">
                    <strong class="font-semibold">IT Solutions &amp; Consulting</strong><br />
                     Berlin
                </p>
                <div class="elevate flex gap-3 sm:gap-4 lg:gap-5 xl:gap-6 glyph-buttons">
                    <a
                        href="mailto:kontakt@felixfischer.com?subject=Hallo%20via%20Website"
                        title="E-Mail"
                        rel="me"><i class="icon-mail-alt"></i></a
                    >
                    <a
                        href="https://www.linkedin.com/in/felix-fischer-672a2844/"
                        title="LinkedIn"
                        rel="me"><i class="icon-linkedin"></i></a
                    >
                    <a href="https://www.github.com/felixfischer" title="GitHub" rel="me"
                        ><i class="icon-github"></i></a
                    >
                </div>
            </div>
        </div>
    </main>
</Layout>

<style>
    main {
		height: 80vh;
        height: 90svh;
    }
    #card,
	#card-content {
        transform-style: preserve-3d;
    }
    [class^='icon-']:before,
    [class*=' icon-']:before {
        @apply hover:text-red-800 hover:scale-125 transition-all duration-300;
        margin-inline: 0;
    }
    i.icon-github {
        font-size: 112%;
    }
    .glyph-buttons a i {
        @apply p-2 -m-2;
    }
    .elevate {
        transform: translateZ(2rem);
    }
</style>

<script>
    import tilt from 'vanilla-tilt'
</script>
